body {
  background-color: #1F1E1E;
  color: #F5F5F5;

  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  max-width: 55rem;
}

a {
  color: #DCE4F9;
  text-decoration-color: #6082E6;
}

a:hover {
  text-decoration-color: #214ED4;
}

nav {
  width: 100%;
  display: flex;
  font-weight: 600;
  font-size: 16px;
  justify-content: space-around;
}

nav > a {
  color: inherit;
  text-decoration: none;
}

ul.audio-files {
    list-style: none;
}
