<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Be's Place</title>
  <link rel="stylesheet" href="/global.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <header>
    <nav>
      <a href="/">Home</a>
      <a href="/dj-mixes">DJ Mixes</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </nav>
  </header>

  <div class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </div>
</body>

</html>
