{% extends "base.html" %}

{% block content %}
<p>
  Contact Be
  <ul>
    <li><a href="mailto:be.0@gmx.com">Email</a></li>
    <li><a href="https://floss.social/@be" rel="me">Fediverse</a></li>
  </ul>
</p>
{% endblock content %}
