{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ section.title }}
</h1>

<p>
I play whatever music flows in the moment, which could be any of the infinite subgenres of "good music". I love playing in different settings, whether fire spinning circles at flow festivals or multi-hour journeys at intimate house parties.
</p>

<p>
If you're interested in having me play at your event, please <a href="/contact">contact me</a>.
</p>

<p>
Consider turning on WiFi if you're on a phone to avoid using up your data. These mixes are in full quality <a href="https://xiph.org/flac/">FLAC</a> format which uses more data than lower quality streaming services.
Track lists can be found on linked page for each mix.
</p>

<ul class="audio-files">
  {% for page in section.pages %}
  <li>
    <audio controls src="{{ page.extra.file }}">
      <a href="{{ page.extra.file }}">Download audio file ({{ page.extra.file_size }})</a>
    </audio>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
