{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
<p class="subtitle"><strong>{{ page.date }}</strong></p>

<audio controls src="{{ page.extra.file }}">
  <a href="{{ page.extra.file }}">Download audio file ({{ page.extra.file_size }})</a>
</audio>

{{ page.content | safe }}

{% endblock content %}
