{% extends "base.html" %}

{% block content %}
<p>
Hi there! My name is Be. Welcome to my place on the web.
</p>

<p>
I like to share music I love through <a href="/dj-mixes">DJing</a>. I also <a href="/projects">write code</a> for fun and profit.
</p>

<p>
Find me elsewhere:
</p>
<ul>
  <li><a href="https://floss.social/@be" rel="me">Fediverse</a></li>
  <li><a href="mailto:be.0@gmx.com">Email</a></li>
  <li><a href="https://codeberg.org/Be.ing">Codeberg</a></li>
  <li><a href="https://github.com/Be-ing">GitHub</a></li>
  <li><a href="https://gitlab.com/Be_">GitLab.com</a></li>
</ul>
{% endblock content %}
