{% extends "base.html" %}

{% block content %}

<p>
I write Rust for fun and profit. Nowadays I only write C++ for profit, though I used to do it for fun.
</p>

Current projects:
<ul>
    <li><a href="https://codeberg.org/Be.ing/spectral">Spectral</a>, firmware for LED dance instruments with ESP32 microcontrollers</li>
    <li><a href="https://codeberg.org/Be.ing/tangarust">Tangarust</a>, firmware for <a href="https://cooltech.zone/tangara">Tangara music player</a> written in Rust</li>
</ul>

Dormant projects:
<ul>
    <li><a href="https://codeberg.org/moire/moire/">Moiré</a> is a musical live performance application with a DAW-like timeline interface written in Rust using <a href="https://slint-ui.com/">Slint</a></li>
</ul>

Past projects:
<ul>
    <li><a href="https://github.com/KDAB/cxx-qt">CXX-Qt</a> is a set of Rust crates for creating bidirectional Rust ⇄ C++ bindings with Qt</li>
    <li><a href="https://mixxx.org">Mixxx</a> free cross platform DJ software written in C++ using Qt</li>
    <li><a href="https://tenacityaudio.org/">Tenacity</a> free cross platform audio editor written in C++ using wxWidgets</li>
</ul>
{% endblock content %}
